/* override responsive-min.css */
.button,.button:link,.button:visited, 
.button-green,.button-green:link,.button-green:visited, 
.button-negative,.button-negative:link,.button-negative:visited, 
.button-white,.button-white:link,.button-white:visited, 
.button-sand,.button-sand:link,.button-sand:visited, 
.download-button-mobile-small .download-link .download-title, 
.download-button small.download-other, 
.download-button-mobile-large .download-link .download-content .download-title, 
body, 
.download-button .download-link, 
textarea,input[type=email],input[type=password],input[type=search],input[type=text], 
.errorlist, 
#masthead nav, 
#colophon .footer-nav {
	font-family: 'Open Sans', 'Apple SD Gothic Neo', "나눔고딕", "맑은 고딕", "Malgun Gothic", AppleGothic, "Lucida Grande", Tahoma, Verdana, "돋움", Dotum, sans-serif;
}

.download-button .download-link .download-title {
	font-family: georgia,"Bitstream Charter",serif;
}

h1,h2,h3,h4,h5,h6,.huge,.large, 
dl dt, 
nav.menu-bar, 
.table thead th,.table thead td, 
.sidebar nav, 
.sidebar .reference .more {
	font-family: 'Open Sans Light', 'Apple SD Gothic Neo', "나눔고딕", "맑은 고딕", "Malgun Gothic", AppleGothic, "Lucida Grande", Tahoma, Verdana, "돋움", Dotum, sans-serif;
}

/* override mission-min.css */
#main-content {
	font-family: 'Open Sans', 'Apple SD Gothic Neo', "나눔고딕", "맑은 고딕", "Malgun Gothic", AppleGothic, "Lucida Grande", Tahoma, Verdana, "돋움", Dotum, sans-serif;
}
#main-content .title-banner, 
#main-content .lede, 
ul.links h4 a:after {
	font-family: 'Open Sans Light', 'Apple SD Gothic Neo', "나눔고딕", "맑은 고딕", "Malgun Gothic", AppleGothic, "Lucida Grande", Tahoma, Verdana, "돋움", Dotum, sans-serif;
}
