RedirectMatch ^/ko/(.*)$ https://www.mozilla.org/ko/$1
RedirectMatch ^/about$ /ko/about/
RedirectMatch ^/about/$ /ko/about/

# /ko/firefox/channel/
RedirectMatch ^/firefox/$ /ko/firefox/new/
RedirectMatch ^/beta/$ /ko/firefox/beta/
RedirectMatch ^/firefox/beta/$ /ko/firefox/beta/
RedirectMatch ^/firefox/aurora/$ /ko/firefox/aurora/

Redirect /media/img/mosaic/loading.gif http://www.mozilla.org/media/img/mosaic/loading.gif

# Add video types
AddType video/ogg .ogm
AddType video/ogg .ogv
AddType video/ogg .ogg
AddType video/webm .webm
AddType audio/webm .weba
AddType video/mp4 .mp4
AddType video/x-m4v .m4v

#Error Handling 
ErrorDocument 404 /ko/404.html
